---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import HeroEducacao from '../../components/sections/educacao/HeroEducacao.astro';
import AboutEducacao from '../../components/sections/educacao/AboutEducacao.astro';
import ProblemsEducacao from '../../components/sections/educacao/ProblemsEducacao.astro';
import SocialNumbersEducacao from '../../components/sections/educacao/SocialNumbersEducacao.astro';
import Soluctions from '../../components/sections/shared/Soluctions.astro';
import CTA from '../../components/sections/shared/CTA.astro';
---

<BaseLayout
  title="Educação — Infosaas®"
  description="Somos especialistas no setor educacional desde 2017. Desde infoprodutores a corporações educacionais."
>
  <Header />
  <main>
    <HeroEducacao />
    <AboutEducacao />
    <ProblemsEducacao />
    <SocialNumbersEducacao />
    <Soluctions />
    <CTA />
  </main>
  <Footer />
</BaseLayout>
