---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import HeroEnterprise from '../../components/sections/enterprise/HeroEnterprise.astro';
import AboutEnterprise from '../../components/sections/enterprise/AboutEnterprise.astro';
import ProblemsEnterprise from '../../components/sections/enterprise/ProblemsEnterprise.astro';
import SocialNumbersEnterprise from '../../components/sections/enterprise/SocialNumbersEnterprise.astro';
import Soluctions from '../../components/sections/shared/Soluctions.astro';
import CTA from '../../components/sections/shared/CTA.astro';
---

<BaseLayout
  preloadImage="/BG-SITE.webp"
  title="Enterprise — Infosaas®"
  description="Para empresas que exigem senioridade. Parceiros técnicos à altura da operação de holdings, corporações e negócios com múltiplas empresas."
>
  <Header />
  <main>
    <HeroEnterprise />
    <AboutEnterprise />
    <ProblemsEnterprise />
    <SocialNumbersEnterprise />
    <Soluctions />
    <CTA />
  </main>
  <Footer />
</BaseLayout>
