---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import HeroSaude from '../../components/sections/saude/HeroSaude.astro';
import AboutSaude from '../../components/sections/saude/AboutSaude.astro';
import ProblemsSaude from '../../components/sections/saude/ProblemsSaude.astro';
import SocialNumbersSaude from '../../components/sections/saude/SocialNumbersSaude.astro';
import Soluctions from '../../components/sections/shared/Soluctions.astro';
import CTA from '../../components/sections/shared/CTA.astro';
---

<BaseLayout
  preloadImage="/BG-SITE.webp"
  title="Saúde — Infosaas®"
  description="Tecnologia para clínicas, healthtechs e empresas de gestão hospitalar. Conformidade, criticidade e sensibilidade desde 2022."
>
  <Header />
  <main>
    <HeroSaude />
    <AboutSaude />
    <ProblemsSaude />
    <SocialNumbersSaude />
    <Soluctions />
    <CTA />
  </main>
  <Footer />
</BaseLayout>
