---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormContato from '../components/sections/contato/FormContato.astro';
---

<BaseLayout
  title="Fale com a gente — Infosaas®"
  description="O primeiro contato é apenas uma conversa. Preencha o formulário e entraremos em contato."
>
  <Header />
  <main>
    <FormContato />
  </main>
  <Footer />
</BaseLayout>
