---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/sections/home/Hero.astro';
import About from '../components/sections/home/About.astro';
import Customers from '../components/sections/home/Customers.astro';
import Soluctions from '../components/sections/shared/Soluctions.astro';
import SocialNumbers from '../components/sections/home/SocialNumbers.astro';
import CTA from '../components/sections/shared/CTA.astro';
---

<BaseLayout
  title="Infosaas® — Studio de Estratégia, Negócios & Tecnologia"
  description="A Infosaas® é um studio especializado em desenvolver e implementar soluções que fazem o negócio escalar com sustentabilidade."
>
  <Header />
  <main>
    <Hero />
    <About />
    <Customers />
    <Soluctions />
    <SocialNumbers />
    <CTA />
  </main>
  <Footer />
</BaseLayout>
